<% include partials/header %>

<h1>Welcome to show! <%= campground.name %></h1>

<img src=" <%= campground.image %>">

<p><%= campground.description %></p>

<a href="/campgrounds">Go Back!</a>

<% include partials/footer %>